/* assets/css/app.css */
body {
    background-color: lightgray;
}

.span-nav {
    color: #ffff;
    text-decoration: none;
}

.panier-longueur {
    color: orange;
    font-weight: bold;
}

.card {
    margin-top: 25px;
}

.img-panier {
    width: 300px;
}

.card-body-panier {
    padding-top: 0;
}